.pendulum-rod {
  position: relative;
  margin-top: 50px;
  width: 2px;
  border-radius: 5px;
  transform-origin: 50% 0%;
  transform: rotate(60deg);
  background-color: green;
  margin-left: 50%;
  margin-right: 50%;
}
  
.pivot {
  position: absolute;
  top: -5px;
  left: 50%; /* Centrar horizontalmente */
  transform: translateX(-50%); /* Ajustar para centrar */
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: black;
}

.ball {
  position: absolute;
  bottom: -10px;
  left: -10px;
  border-radius: 50%;
  background-color: orange;
  height: 20px;
  width: 20px;
}
  

.energy-labels {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}